
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><ng-template [cdkPortalOutlet]="selectedPortal2"></ng-template></mat-grid-tile>
  <mat-grid-tile><ng-template [cdkPortalOutlet]="selectedPortal2"></ng-template></mat-grid-tile>
  <mat-grid-tile><ng-template [cdkPortalOutlet]="selectedPortal2"></ng-template></mat-grid-tile>
  <mat-grid-tile><ng-template [cdkPortalOutlet]="selectedPortal2"></ng-template></mat-grid-tile>
</mat-grid-list>

<ng-template #templatePortalContent>
  <iframe [src]="href" seamless [width]="'100%'" [height]="'100%'" frameborder="0"></iframe>
</ng-template>
