<app-skl-form formtitle="{{'floworgvary'|translate}}" [formcolnames]="queryitems" (action)="getquery($event)"
	[ncolcount]=2 [formdata]="querydata" [buttons]="[{'name':'reset','icon':'reload'},{'name':'search','icon':'search'}]"></app-skl-form>
	
<app-skl-list   listtitle="{{'floworgvary'|translate}}" [listdata]="listdata"
	[listcolnames]="listcolnames"
	(action)="save($event)"  [(pageIndex)]="pageindex" [(pageSize)]="pagesize" [total]="total" [loading]="loading" (refreshtable)="refreshtable($event)" [buttons]="[{'name':'Save','icon':'save'}]"></app-skl-list>
